// 최종 scss 파일

@import "./abstracts/variables_color";
@import "./abstracts/variables";

@import "./base/reset";
@import "./base/preset";

// 추가 작성할 컴포넌트 scss 파일 작성하고 import 필요
@import "./components/App";

