.detail-btn-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .go-main-btn {
        margin-top: 6px;
        padding: 8px 24px;
        border: 1px solid #000;
        border-radius: 10px;
        background-color: #000;
        color: #fff;
        /* 이쁜 글씨 */
        font-family: 'HSSaemaul-Regular';
        font-size: larger;

        &:focus,&:hover {
            background-color: rgb(83, 83, 83);
            color: #fff;
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
            transition: 0.1s;
        }
    }
}

.Post-delete-btn {
    margin: 0.2vw;
    width: 2.4vh;
    height: 2.4vh;
    min-height: 21px;
    min-width: 21px;
    max-height: 35px;
    max-width: 35px;
    object-fit: cover;
    &:hover {
      cursor: pointer;
      #post-delete-btn {
        stroke-width: 2;
      }
    }
  }

.Post-reply-with-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply-delete-btn {
    margin: 0.2vw;
    margin-right: 0.4vw;
    width: 2.4vh;
    height: 2.4vh;
    min-height: 20px;
    min-width: 20px;
    max-height: 35px;
    max-width: 35px;
    object-fit: cover;
    &:hover {
      cursor: pointer;
      #reply-delete-btn {
        opacity: 1;
        stroke-width: 2;
      }
    }
}