.detail-btn-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .go-main-btn {
        margin-top: 6px;
        padding: 8px 24px;
        border: 1px solid #000;
        border-radius: 10px;
        background-color: #000;
        color: #fff;
        /* 이쁜 글씨 */
        font-family: 'HSSaemaul-Regular';
        font-size: larger;

        &:focus,&:hover {
            background-color: rgb(83, 83, 83);
            color: #fff;
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
            transition: 0.1s;
        }
    }
}