@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.dimmed-layer {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.3;

}

.close-btn {
    position: fixed;
    z-index: 300;
    width: 2.5vh;
    height: 2.5vh;
    top: 10vh;
    right: 5vw;
    object-fit: cover;
    &:hover, &:focus {
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: #000;
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        transition: 0.1s;
        cursor: pointer;
    }
}

.input-area {
    position: fixed;
    z-index: 300;
    top: 20vh;
    right: 0;
    left: 0;
    background: #fff;
    margin: auto;
    width: 40vw;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 30px;
    min-width: 400px; // 줄어들었을때 방어
    max-width: 400px;
    padding: 5px;
    text-align: center;
    align-items: center;

    .form-container {
        padding: 40px 10px 40px;
        border: 2px solid rgba(0, 0, 0, 0.055);
        border-radius: 30px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

        h2, h3, p {
            text-align: center;
            margin-bottom: 24px;
            letter-spacing: -0.3px;
            /* 이쁜 글씨 */
            font-family: 'HSSaemaul-Regular';
        }
    
        .form-control {
            margin-right: 16px;
            margin-bottom: 10px;
            padding: 5px 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
    
        .post-btn {
            margin-top: 12px;
            padding: 8px 24px;
            border: 1px solid #000;
            border-radius: 10px;
            background-color: #000;
            color: #fff;
            /* 이쁜 글씨 */
            font-family: 'HSSaemaul-Regular';

            &:focus,&:hover {
                background-color: rgb(83, 83, 83);
                color: #fff;
                -webkit-transform: scale(1.02);
                transform: scale(1.02);
                transition: 0.1s;
            }
        }
    }

    .form-group {
        margin: auto 10px;
        margin-bottom: 15px;
    }

    .img-input {
        padding: 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
}