.dimmed-layer-detail {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000be;
    opacity: 0.1;
}

.like-detail-area {
    position: fixed;
    z-index: 300;
    top: 20vh;
    right: 0;
    left: 0;
    background: #fff;
    margin: auto;
    width: 40vw;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 25px;
    min-width: 300px; // 줄어들었을때 방어, 제목 텍스트 안떨어지는 정도로
    max-width: 350px;
    padding: 5px;
    text-align: center;
    align-items: center;

    .like-detail-container {
        margin: auto;
        padding: 22px 10px 22px;
        border: 2px solid rgba(0, 0, 0, 0.055);
        border-radius: 25px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

        .go-profile-btn {
            margin-top: 12px;
            padding: 8px 24px;
            border: 1px solid #000;
            border-radius: 10px;
            background-color: #000;
            color: #fff;
            /* 이쁜 글씨 */
            font-family: 'HSSaemaul-Regular';

            &:focus,&:hover {
                background-color: rgb(83, 83, 83);
                color: #fff;
                -webkit-transform: scale(1.02);
                transform: scale(1.02);
                transition: 0.1s;
            }
        }
    }
}

.like-detail-header {
    /* 이쁜 글씨 */
    font-family: 'HSSaemaul-Regular';
    font-size: x-large;
    margin-bottom: 12px;
}

.like-user-info {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    margin-left: 5px;
    &:hover {
        cursor: pointer;
    }
}

.like-user-profileImage {
    width: 32px;
    height: 32px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
    }
}

.like-user-name {
    padding: 0px 12px;
    font-weight: bold;
}

.like-no-user-text {
    /* 이쁜 글씨 */
    font-family: 'HSSaemaul-Regular';
    font-size: larger;
    margin-top: 28px;
    margin-bottom: 6px;
}

.like-no-user-text-small {
    /* 이쁜 글씨 */
    font-family: 'HSSaemaul-Regular';
    font-size: large;
    color: #3a3a3a57;
    margin-bottom: 12px;
}

// 모달창 관련 반응형 작업
@media (max-width: 600px){
    .like-detail-area {
        top: 15vh; // 원래 20vh
    }
}

@media (max-width: 500px){
    .like-detail-area {
        top: 8vh; // 원래 20vh
    }
}
