.liked-feeds {
    margin: 6vh auto 0vh;
    padding: 10px;
    background-color: #FAFAFA;

    .menu-header {
        text-align: center;
        /* 이쁜 글씨 */
        font-family: 'HSSaemaul-Regular';
        font-size: x-large;
    }
}

.no-like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        /* 이쁜 글씨 */
        font-family: 'HSSaemaul-Regular';
        font-size: x-large;
    }

    .lookaround-btn {
        margin-top: 6px;
        padding: 8px 24px;
        border: 1px solid #000;
        border-radius: 10px;
        background-color: #000;
        color: #fff;
        /* 이쁜 글씨 */
        font-family: 'HSSaemaul-Regular';
        font-size: larger;

        &:focus,&:hover {
            background-color: rgb(83, 83, 83);
            color: #fff;
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
            transition: 0.1s;
        }
    }
}

.log-go-main-btn-area {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .go-main-btn {
        margin-top: 6px;
        padding: 8px 24px;
        border: 1px solid #000;
        border-radius: 10px;
        background-color: #000;
        color: #fff;
        /* 이쁜 글씨 */
        font-family: 'HSSaemaul-Regular';
        font-size: larger;

        &:focus,&:hover {
            background-color: rgb(83, 83, 83);
            color: #fff;
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
            transition: 0.1s;
        }
    }
}