.nav-area {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid rgba(122, 122, 122, 0.25);
    margin: 0vh auto 0vh; // auto 속성으로 가로 가운데 정렬 맞추기
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vh;
}

.refresh {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo_img {
        height: 2.2vh;
        &:hover {
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
            transition: 0.1s;
            cursor: pointer;
        }
    }
}

.user-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw;
    
    .search_input {
        border-radius: 8px;
        padding-left: 12px;
        margin-left: 0.8vw;
        letter-spacing: -0.3px;
        height: 4vh;
        background-color: #EFEFEF;
        border: 1px solid #EFEFEF;
    
        &:focus {
            border: 1px solid #b1b1b1;
            background-color: #fff;
        }

        &:hover {
            -webkit-transform: scale(1.01);
            transform: scale(1.01);
            transition: 0.1s;
            border: 1px solid #b1b1b1;
            background-color: #fff;
        }
    }

    .search-btn {
        margin-left: 1vh;
        width: 2.5vh;
        height: 2.5vh;
    }
}


.btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 1.2vh;
    
    .btn-item {
        margin-right: 0.8vw;
        width: 2.5vh;
        height: 2.5vh;
        object-fit: cover;
        &:hover {
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
            transition: 0.1s;
            cursor: pointer;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 540px){
    /* 브라우저 사이즈 425px 이하일때 ㄱㄱ*/
    .refresh{
        margin-left: 2%;
    }
    .user-search{
        input{
            width: 80%;
        }
    }

}
@media (max-width: 425px){
    /* 브라우저 사이즈 425px 이하일때 ㄱㄱ*/
    .refresh{
        width: 80%;
    }
    .btn-list{
        width: 80%;
    }
    .user-search{
        input{
            width: 80%;
        }
    }

}