.nav-area {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid rgba(122, 122, 122, 0.25);
    margin: 0vh auto 0vh; // auto 속성으로 가로 가운데 정렬 맞추기
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vh;
}

.refresh {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo_img {
        height: 2.2vh;
        &:hover {
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
            transition: 0.1s;
            cursor: pointer;
        }
    }
}

.user-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw;
    
    .search_input {
        /* 이쁜 글씨 */
        font-family: 'HSSaemaul-Regular';
        font-size: larger;
        border-radius: 8px;
        padding-left: 20px;
        padding-right: 5px;
        margin-left: 0.8vw;
        letter-spacing: -0.3px;
        height: 4vh;
        background-color: #EFEFEF;
        border: 1px solid #EFEFEF;
    
        &:focus {
            border: 1px solid #b1b1b1;
            background-color: #fff;
        }

        &:hover {
            -webkit-transform: scale(1.01);
            transform: scale(1.01);
            transition: 0.1s;
            border: 1px solid #b1b1b1;
            background-color: #fff;
        }
    }

    .search-btn {
        margin-left: 1vh;
        width: 2.5vh;
        height: 2.5vh;
    }
}


.btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 1.2vh;
    
    .btn-item {
        margin-right: 0.8vw;
        width: 2.5vh;
        height: 2.5vh;
        object-fit: cover;
        &:hover {
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
            transition: 0.1s;
            cursor: pointer;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

// 위로 가기 버튼
.go-top-btn {
    position: fixed;
    bottom: 3vh;
    left: 6vw;
    background-color: #000000;
    border-radius: 5px;
    z-index: 100;

    &:hover {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        transition: 0.1s;
        cursor: pointer;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.auto-complete-area {
    position: fixed;
    top: 46px; // 동적으로 .navigation 의 height 를 가져올 수 있으면 좋을텐데
    width: 200px; // 동적으로 .search_input 의 width 를 가져올 수 있으면 좋을텐데
    /* 이쁜 글씨 */
    font-family: 'HSSaemaul-Regular';
    font-size: larger;
    padding: 12px;
    // margin-left: 0.8vw; // 위에 input이 이만큼 떨어져 있음
    margin-left: 3.4vw;
    letter-spacing: 0.5px;
    border: 2px solid #b1b1b1;
    border-radius: 8px;
    background-color: #fff;

    &:hover {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
        transition: 0.1s;
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: left;
    }

    li {
        padding-left: 8px;
        margin-bottom: 3px;
        &:hover {
            -webkit-transform: scale(1.01);
            transform: scale(1.01);
            transition: 0.1s;
            font-weight: 700; // 굵게
        }
    }
}


@media (max-width: 540px){
    /* 브라우저 사이즈 425px 이하일때 ㄱㄱ*/
    .refresh{
        margin-left: 2%;
    }
    .user-search{
        input{
            width: 80%;
        }
    }

}
@media (max-width: 425px){
    /* 브라우저 사이즈 425px 이하일때 ㄱㄱ*/
    .refresh{
        width: 80%;
    }
    .btn-list{
        width: 80%;
    }
    .user-search{
        input{
            width: 80%;
        }
    }

}