.nav-area {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid rgba(122, 122, 122, 0.25);
    margin: 0vh auto 0vh; // auto 속성으로 가로 가운데 정렬 맞추기
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vh;
    min-height: 46px;
    max-height: 68px;
}

.refresh {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-text {
        font-family: 'SDSamliphopangche_Outline';
        font-size: x-large;
        letter-spacing: -1.5px;
        &:hover {
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
            transition: 0.1s;
            cursor: pointer;
            color: #000000;
        }
    }
}

.user-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw;
    
    .search_input {
        /* 이쁜 글씨 */
        font-family: 'HSSaemaul-Regular';
        font-size: larger;
        border-radius: 8px;
        padding-left: 20px;
        padding-right: 5px;
        margin-left: 0.8vw;
        letter-spacing: -0.3px;
        height: 4vh;
        min-height: 33px;
        max-height: 43px;
        background-color: #EFEFEF;
        border: 1px solid #EFEFEF;
    
        &:focus {
            border: 1px solid #b1b1b1;
            background-color: #fff;
        }

        &:hover {
            -webkit-transform: scale(1.01);
            transform: scale(1.01);
            transition: 0.1s;
            border: 1px solid #b1b1b1;
            background-color: #fff;
        }
    }

    .search-btn {
        margin-left: 1vh;
        width: 2.5vh;
        height: 2.5vh;
        min-height: 24px;
        min-width: 24px;
        max-height: 32px;
        max-width: 32px;
        &:hover, &:focus {
            cursor: pointer;
            -webkit-transform: scale(1.15);
            transform: scale(1.15);
            transition: 0.1s;
        }
    }
}


.btn-list {
    display: flex;
    justify-content: center;
    align-items: baseline; // center 로 하면 height 줄어들때 밑으로 내려오는데 baseline 하면 중간에 배치됨
    padding: 1vh 1.2vh;
    
    .btn-item {
        margin-right: 0.5vw;
        width: 2.5vh;
        height: 2.5vh;
        min-height: 24px;
        min-width: 24px;
        max-height: 35px;
        max-width: 35px;
        object-fit: cover;
        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            transition: 0.1s;
            cursor: pointer;
        }
    }
}

// 위로 가기 버튼
.go-top-btn {
    position: fixed;
    bottom: 3vh;
    left: 6vw;
    background-color: #000000;
    border-radius: 5px;
    z-index: 100;

    &:hover {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        transition: 0.1s;
        cursor: pointer;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.auto-complete-area {
    position: fixed;
    top: 46px; // 동적으로 .navigation 의 height 를 가져올 수 있으면 좋을텐데
    width: 200px; // 동적으로 .search_input 의 width 를 가져올 수 있으면 좋을텐데
    /* 이쁜 글씨 */
    font-family: 'HSSaemaul-Regular';
    font-size: larger;
    padding: 12px;
    // margin-left: 0.8vw; // 위에 input이 이만큼 떨어져 있음
    margin-left: 3.4vw;
    letter-spacing: 0.5px;
    border: 2px solid #b1b1b1;
    border-radius: 8px;
    background-color: #fff;

    &:hover {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
        transition: 0.1s;
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: left;
    }

    li {
        padding-left: 8px;
        margin-bottom: 3px;
        &:hover {
            cursor: pointer;
            -webkit-transform: scale(1.01);
            transform: scale(1.01);
            transition: 0.1s;
            font-weight: 700; // 굵게
        }
    }
}

@media (max-width: 655px){
    /* 브라우저 사이즈 655px 이하일때 ㄱㄱ*/
    .refresh{
        width: 95%;
    }
    .btn-list{
        width: 95%;
    }
}
@media (max-width: 580px){
    /* 브라우저 사이즈 580px 이하일때 ㄱㄱ*/
    .logo-text{
        font-size: larger!important;
    }
    .btn-item {
        width: 2.4vh!important;
        height: 2.4vh!important;
    }
}
@media (max-width: 540px){
    /* 브라우저 사이즈 540px 이하일때 ㄱㄱ*/
    .refresh{
        width: 90%;
    }
    .btn-list{
        width: 90%;
    }
    .user-search{
        input{
            width: 95%;
        }
    }
}
@media (max-width: 510px){
    /* 브라우저 사이즈 510px 이하일때 ㄱㄱ*/
    .refresh{
        width: 85%;
    }
    .btn-list{
        width: 85%;
    }
    .user-search{
        input{
            width: 90%;
        }
    }
    .logo-text{
        font-size: large!important;
    }
}
@media (max-width: 425px){
    /* 브라우저 사이즈 425px 이하일때 ㄱㄱ*/
    .refresh{
        width: 80%;
    }
    .btn-list{
        width: 80%;
    }
    .user-search{
        input{
            width: 85%;
        }
    }
    .btn-item {
        width: 2.3vh!important;
        height: 2.3vh!important;
    }
}
@media (max-width: 340px){
    /* 브라우저 사이즈 340px 이하일때 ㄱㄱ*/
    .logo-text{
        font-size: medium!important;
    }
    .btn-item {
        width: 2.2vh!important;
        height: 2.2vh!important;
    }
}