.profile-text-input {
    /* 이쁜 글씨 */
    font-family: 'HSSaemaul-Regular';
    font-size: larger;
    margin-left: 8px !important;
    margin-bottom: 0px !important;
}

.profile-input {
    display: flex;
    justify-content: center;
    align-items: center;
}