.login-area {
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 20px;
    min-width: 380px; // 줄어들었을때 방어, 제목 텍스트 안떨어지는 정도로
    max-width: 500px;
    margin: auto;
    padding: 10px;
    text-align: center;
    align-items: center;

    .logo-text {
        font-family: 'SDSamliphopangche_Outline';
        font-size: xx-large;
        height: 36px;
        margin: 32px 80px 32px;
    }

    .form-container {
        margin: auto;
        padding: 35px 0px 35px;
        border: 2px solid rgba(0, 0, 0, 0.055);
        border-radius: 30px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

        .sign-form {
            margin: auto;
        }
        
        h2, p {
            text-align: center;
            margin-bottom: 24px;
            letter-spacing: -0.3px;
            /* 이쁜 글씨 */
            font-family: 'HSSaemaul-Regular';
        }
    
        input.form-control {
            display: inline-block; // block 일 때 왼쪽에 붙더라
            width: 65%; // 딱 적당한 듯
            padding: 5px 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
    
        .signup-btn {
            margin-top: 6px;
            padding: 8px 24px;
            border: 1px solid #000;
            border-radius: 10px;
            background-color: #000;
            color: #fff;
            /* 이쁜 글씨 */
            font-family: 'HSSaemaul-Regular';
            font-size: larger;

            &:focus,&:hover {
                background-color: rgb(83, 83, 83);
                color: #fff;
                -webkit-transform: scale(1.02);
                transform: scale(1.02);
                transition: 0.1s;
            }
        }

    }

    .form-group {
        margin-bottom: 15px;
    }

    .another-area {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;

        p {
            margin: 0;
        }
    }

    .another-btn {
        margin-left: 13px;
        padding: 6px 18px;
        font-style: italic;
        border-radius: 10px;
        color: #252525;
        /* 이쁜 글씨 */
        font-family: 'HSSaemaul-Regular';
        font-size: larger;

        &:focus,&:hover {
            background-color: rgb(83, 83, 83);
            color: #fff;
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
            transition: 0.1s;
        }
    }
}