.login-area {
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 40%;
    min-width: 500px; // 줄어들었을때 방어
    max-width: 500px;
    margin: 150px auto 150px;
    padding: 10px;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .logo_img{
        height: 36px;
        margin: 32px 80px 32px;
    }

    .form-container {
        margin: auto;
        padding: 40px 100px 40px;
        border: 2px solid rgba(0, 0, 0, 0.055);
        border-radius: 30px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        
        h2, p {
            margin-bottom: 24px;
            letter-spacing: -0.3px;
        }
    
        input.form-control {
            margin-right: 16px;
            margin-bottom: 10px;
            padding: 5px 10px 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
    
        .signup-btn {
            padding: 8px 24px;
            border: 1px solid #000;
            border-radius: 5px;
            background-color: #000;
            color: #fff;
        }
    }

    .form-group {
        width: 300px;
        margin-bottom: 15px;
    }
    
    .just-start {
        margin-top: 32px;
        margin-bottom: 32px;
    
        .start-btn {
            padding: 8px 24px;
            border: 1px solid #000;
            border-radius: 5px;
            background-color: #000;
            color: #fff;
        }
    }
}