body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #c9c9c9;
  opacity: 1;
}

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder,
textarea[readonly]::-webkit-input-placeholder,
textarea:disabled::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder,
textarea[readonly]::-ms-input-placeholder,
textarea:disabled::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

.login-area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 40%;
  min-width: 500px;
  margin: 150px auto 150px;
  padding: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.login-area .logo_img {
  height: 36px;
  margin: 32px 80px 32px;
}

.form-container {
  margin: auto;
  padding: 40px 100px 40px;
  border: 2px solid rgba(0, 0, 0, 0.055);
  border-radius: 30px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.form-container h2, .form-container p {
  margin-bottom: 24px;
  letter-spacing: -0.3px;
}

.form-container input.form-control {
  margin-right: 16px;
  margin-bottom: 10px;
  padding: 5px 10px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form-container .signup-btn {
  padding: 8px 24px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.form-group {
  width: 300px;
  margin-bottom: 15px;
}

.just-start {
  margin-top: 32px;
  margin-bottom: 32px;
}

.just-start .start-btn {
  padding: 8px 24px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5000;
  border-bottom: 1px solid rgba(122, 122, 122, 0.25);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 60px;
}

.refresh {
  padding: 0 10px;
}

.logo_img {
  height: 26px;
}

.user-search {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_input {
  border-radius: 8px;
  padding-left: 5px;
  margin-left: 10px;
  letter-spacing: -0.3px;
  height: 32px;
  background-color: #EFEFEF;
}

.search_input:focus {
  background-color: #fff;
}

.btn-list {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-item {
  padding-left: 16px;
  width: 48px;
  height: 48px;
}

.btn-item svg {
  margin-top: 8px;
}

.content-area {
  margin: 75px auto 0;
  width: 70%;
  min-width: 680px;
  height: 3000px;
  background-color: #eee;
}

.content-area .user-data-area {
  margin: auto;
  height: 1000px;
  width: 70%;
  background-color: #000;
  color: white;
}

.content-area .lis-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
/*# sourceMappingURL=styles.css.map */