@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-x::-webkit-scrollbar {
  display: none;
}

.transition-start {
  opacity: 0;
}

.transition-end {
  opacity: 1;
  transition: opacity 0.5s;
}

.d-none {
  display: none !important;
}

@font-face {
  font-family: "HSSaemaul-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.login-area {
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 40vw;
  min-width: 500px;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  text-align: center;
  align-items: center;
}
.login-area .logo_img {
  height: 36px;
  margin: 32px 80px 32px;
}
.login-area .form-container {
  margin: auto;
  padding: 40px 100px 40px;
  border: 2px solid rgba(0, 0, 0, 0.055);
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.login-area .form-container h2, .login-area .form-container p {
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: -0.3px;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
}
.login-area .form-container input.form-control {
  width: calc(100% - 1.4vw);
  margin-right: 16px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.login-area .form-container .signup-btn {
  margin-top: 6px;
  padding: 8px 24px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: larger;
}
.login-area .form-container .signup-btn:focus, .login-area .form-container .signup-btn:hover {
  background-color: rgb(83, 83, 83);
  color: #fff;
  transform: scale(1.02);
  transition: 0.1s;
}
.login-area .form-group {
  width: 300px;
  margin-bottom: 15px;
}
.login-area .another-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.login-area .another-area p {
  margin: 0;
}
.login-area .another-btn {
  margin-left: 13px;
  padding: 6px 18px;
  font-style: italic;
  border-radius: 10px;
  color: #252525;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: larger;
}
.login-area .another-btn:focus, .login-area .another-btn:hover {
  background-color: rgb(83, 83, 83);
  color: #fff;
  transform: scale(1.02);
  transition: 0.1s;
}

.nav-area {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid rgba(122, 122, 122, 0.25);
  margin: 0vh auto 0vh;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 6vh;
}

.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
}
.refresh .logo_img {
  height: 2.2vh;
}
.refresh .logo_img:hover {
  transform: scale(1.02);
  transition: 0.1s;
  cursor: pointer;
}

.user-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2vw;
}
.user-search .search_input {
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: larger;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 5px;
  margin-left: 0.8vw;
  letter-spacing: -0.3px;
  height: 4vh;
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
}
.user-search .search_input:focus {
  border: 1px solid #b1b1b1;
  background-color: #fff;
}
.user-search .search_input:hover {
  transform: scale(1.01);
  transition: 0.1s;
  border: 1px solid #b1b1b1;
  background-color: #fff;
}
.user-search .search-btn {
  margin-left: 1vh;
  width: 2.5vh;
  height: 2.5vh;
}

.btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 1.2vh;
}
.btn-list .btn-item {
  margin-right: 0.8vw;
  width: 2.5vh;
  height: 2.5vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.btn-list .btn-item:hover {
  transform: scale(1.02);
  transition: 0.1s;
  cursor: pointer;
}
.btn-list .btn-item:last-child {
  margin-right: 0;
}

.go-top-btn {
  position: fixed;
  bottom: 3vh;
  left: 6vw;
  background-color: #000000;
  border-radius: 5px;
  z-index: 100;
}
.go-top-btn:hover {
  transform: scale(1.02);
  transition: 0.1s;
  cursor: pointer;
}
.go-top-btn svg {
  width: 100%;
  height: 100%;
}

.auto-complete-area {
  position: fixed;
  top: 46px;
  width: 200px;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: larger;
  padding: 12px;
  margin-left: 3.4vw;
  letter-spacing: 0.5px;
  border: 2px solid #b1b1b1;
  border-radius: 8px;
  background-color: #fff;
}
.auto-complete-area:hover {
  transform: scale(1.01);
  transition: 0.1s;
}
.auto-complete-area ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
.auto-complete-area li {
  padding-left: 8px;
  margin-bottom: 3px;
}
.auto-complete-area li:hover {
  transform: scale(1.01);
  transition: 0.1s;
  font-weight: 700;
}

@media (max-width: 540px) {
  /* 브라우저 사이즈 425px 이하일때 ㄱㄱ*/
  .refresh {
    margin-left: 2%;
  }
  .user-search input {
    width: 80%;
  }
}
@media (max-width: 425px) {
  /* 브라우저 사이즈 425px 이하일때 ㄱㄱ*/
  .refresh {
    width: 80%;
  }
  .btn-list {
    width: 80%;
  }
  .user-search input {
    width: 80%;
  }
}
.all-feeds {
  margin: 6vh auto 0vh;
  padding: 10px;
  background-color: #FAFAFA;
  min-height: 900px;
}

.Post {
  font-family: "PT Sans", sans-serif;
  border: 1px solid rgba(122, 122, 122, 0.25);
  border-radius: 3px;
  background-color: #ffffff;
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto 20px;
}

.Post-user-area {
  display: flex;
  padding: 10px;
  align-items: center;
}

.Post-user-profileImage {
  width: 30px;
  height: 30px;
}
.Post-user-profileImage img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Post-user-id {
  padding: 0px 12px;
  font-weight: bold;
}

.Post-img:hover {
  cursor: pointer;
}
.Post-img .Post-img-bg {
  background-color: #efefef;
}
.Post-img img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.Post-icon-btn-area {
  padding: 8px 15px 2px;
  border-bottom: 1px solid rgba(234, 234, 234, 0.7607843137);
  display: flex;
  justify-content: space-between;
}
.Post-icon-btn-area .like-btn {
  padding: 4px 5px;
}
.Post-icon-btn-area .reply-btn {
  padding: 4px 5px;
}
.Post-icon-btn-area .share-btn {
  padding: 4px 5px;
}
.Post-icon-btn-area .save-btn {
  padding: 4px 5px;
}

.Post-like-area {
  padding: 6px 16px 0px;
  font-size: 14px;
  font-family: "HSSaemaul-Regular";
  font-size: large;
}
.Post-like-area .Post-like-count::before {
  content: "🤍 ";
}
.Post-like-area .Post-like-count::after {
  content: " 명이 좋아해요";
}

.Post-text-area {
  padding: 8px 16px 4px;
  margin-bottom: 6px;
}
.Post-text-area .Post-text {
  font-size: 14px;
  display: flex;
}
.Post-text-area .Post-text .Post-writer-name {
  font-size: 15px;
}
.Post-text-area .Post-text .Post-text-postText {
  padding-left: 8px;
}

.Post-reply-count {
  font-size: 12px;
  color: gray;
  padding: 0 16px 8px;
}
.Post-reply-count:hover {
  cursor: pointer;
}
.Post-reply-count::before {
  content: "댓글 ";
}
.Post-reply-count::after {
  content: "개 모두 보기";
}

.Post-reply-area {
  padding: 0px 16px 8px;
  font-size: 14px;
  flex-direction: column;
}
.Post-reply-area .Post-reply {
  padding-bottom: 2px;
}
.Post-reply-area .Post-reply .Post-reply-nickname {
  padding-right: 2px;
}
.Post-reply-area .Post-reply .Post-reply-text {
  padding-left: 2px;
}

.Post-reply-border {
  margin: 0 16px 8px;
  border-bottom: 1px solid black;
  opacity: 0.1;
}

@font-face {
  font-family: "HSSaemaul-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.dimmed-layer {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
}

.close-btn {
  position: fixed;
  z-index: 300;
  width: 2.5vh;
  height: 2.5vh;
  top: 10vh;
  right: 5vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.close-btn:hover, .close-btn:focus {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #000;
  transform: scale(1.02);
  transition: 0.1s;
  cursor: pointer;
}

.input-area {
  position: fixed;
  z-index: 300;
  top: 20vh;
  right: 0;
  left: 0;
  background: #fff;
  margin: auto;
  width: 40vw;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 30px;
  min-width: 400px;
  max-width: 400px;
  padding: 5px;
  text-align: center;
  align-items: center;
}
.input-area .form-container {
  padding: 40px 10px 40px;
  border: 2px solid rgba(0, 0, 0, 0.055);
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.input-area .form-container h2, .input-area .form-container h3, .input-area .form-container p {
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: -0.3px;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
}
.input-area .form-container .form-control {
  margin-right: 16px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.input-area .form-container .post-btn {
  margin-top: 12px;
  padding: 8px 24px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
}
.input-area .form-container .post-btn:focus, .input-area .form-container .post-btn:hover {
  background-color: rgb(83, 83, 83);
  color: #fff;
  transform: scale(1.02);
  transition: 0.1s;
}
.input-area .form-group {
  margin: auto 10px;
  margin-bottom: 15px;
}
.input-area .img-input {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@font-face {
  font-family: "HSSaemaul-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.error404 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7176470588);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error404 h2, .error404 h3, .error404 p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 24px;
  letter-spacing: -0.3px;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
}

body {
  font-family: Arial, sans-serif;
}

section {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.container-wrap {
  display: flex;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 15px;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
}

.profile-info h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: xx-large;
}

.profile-info h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: x-large;
}

.profile-info p {
  margin-bottom: 10px;
  width: 100%;
}

.profile-info button {
  width: 50%;
  margin-top: 6px;
  padding: 8px 24px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: large;
}
.profile-info button:hover {
  background-color: rgb(83, 83, 83);
  color: #fff;
  transform: scale(1.02);
  transition: 0.1s;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
}

.profile-stats p {
  margin: 0;
}

.content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid gray;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 30px;
}

.content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 40px;
}
.content-wrap:nth-child(n+2) {
  margin-top: 7px;
}

.content-wrap img {
  width: 230px;
  height: 230px;
  margin-left: 7px;
  margin-top: 10px;
}

@media (max-width: 425px) {
  .container-wrap {
    flex-direction: column;
    align-items: center;
  }
  .profile-img {
    margin-bottom: 30px;
  }
  section {
    width: unset;
  }
}
.no-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-post p {
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: larger;
}
.no-post .upload-btn-profile {
  margin-top: 6px;
  padding: 8px 24px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: larger;
}
.no-post .upload-btn-profile:focus, .no-post .upload-btn-profile:hover {
  background-color: rgb(83, 83, 83);
  color: #fff;
  transform: scale(1.02);
  transition: 0.1s;
}

.liked-feeds {
  margin: 6vh auto 0vh;
  padding: 10px;
  background-color: #FAFAFA;
}
.liked-feeds .menu-header {
  text-align: center;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: x-large;
}

.no-like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-like p {
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: x-large;
}
.no-like .lookaround-btn {
  margin-top: 6px;
  padding: 8px 24px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: larger;
}
.no-like .lookaround-btn:focus, .no-like .lookaround-btn:hover {
  background-color: rgb(83, 83, 83);
  color: #fff;
  transform: scale(1.02);
  transition: 0.1s;
}

.detail-btn-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail-btn-area .go-main-btn {
  margin-top: 6px;
  padding: 8px 24px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  /* 이쁜 글씨 */
  font-family: "HSSaemaul-Regular";
  font-size: larger;
}
.detail-btn-area .go-main-btn:focus, .detail-btn-area .go-main-btn:hover {
  background-color: rgb(83, 83, 83);
  color: #fff;
  transform: scale(1.02);
  transition: 0.1s;
}/*# sourceMappingURL=styles.css.map */