@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #c9c9c9;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-x::-webkit-scrollbar {
  display: none;
}

.login-area {
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 40%;
  min-width: 500px;
  max-width: 500px;
  margin: 150px auto 150px;
  padding: 10px;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.login-area .logo_img {
  height: 36px;
  margin: 32px 80px 32px;
}
.login-area .form-container {
  margin: auto;
  padding: 40px 100px 40px;
  border: 2px solid rgba(0, 0, 0, 0.055);
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.login-area .form-container h2, .login-area .form-container p {
  margin-bottom: 24px;
  letter-spacing: -0.3px;
}
.login-area .form-container input.form-control {
  margin-right: 16px;
  margin-bottom: 10px;
  padding: 5px 10px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.login-area .form-container .signup-btn {
  padding: 8px 24px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}
.login-area .form-container .signup-btn:focus, .login-area .form-container .signup-btn:hover {
  background-color: rgb(83, 83, 83);
  color: #fff;
}
.login-area .form-group {
  width: 300px;
  margin-bottom: 15px;
}
.login-area .just-start {
  margin-top: 32px;
  margin-bottom: 32px;
}
.login-area .just-start .start-btn {
  padding: 8px 24px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}
.login-area .just-start .start-btn:focus, .login-area .just-start .start-btn:hover {
  background-color: rgb(83, 83, 83);
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 5000;
  border-bottom: 1px solid rgba(122, 122, 122, 0.25);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
}

.refresh {
  padding: 0 10px;
}

.logo_img {
  height: 26px;
}

.user-search {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input {
  border-radius: 8px;
  padding-left: 5px;
  margin-left: 10px;
  letter-spacing: -0.3px;
  height: 32px;
  background-color: #EFEFEF;
}
.search_input:focus {
  background-color: #fff;
}

.btn-list {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-item {
  padding-left: 16px;
  width: 48px;
  height: 48px;
}
.btn-item svg {
  margin-top: 8px;
}

.all-feeds {
  margin-top: 65px;
  padding: 10px;
  background-color: #FAFAFA;
  min-height: 900px;
}

.Post {
  font-family: "PT Sans", sans-serif;
  border-radius: 3px;
  border: 1px solid rgba(122, 122, 122, 0.25);
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 720px;
  min-width: 450px;
}

.Post-user-area {
  display: flex;
  padding: 10px;
  align-items: center;
}

.Post-user-profileImage {
  width: 30px;
  height: 30px;
}
.Post-user-profileImage img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Post-user-id {
  padding: 0px 12px;
  font-weight: bold;
}

.Post-img .Post-img-bg {
  background-color: #efefef;
}
.Post-img img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.Post-icon-btn-area {
  padding: 8px 15px 2px;
  border-bottom: 1px solid rgba(234, 234, 234, 0.7607843137);
  display: flex;
  justify-content: space-between;
}
.Post-icon-btn-area .like-btn {
  padding: 4px 5px;
}
.Post-icon-btn-area .reply-btn {
  padding: 4px 5px;
}
.Post-icon-btn-area .share-btn {
  padding: 4px 5px;
}
.Post-icon-btn-area .save-btn {
  padding: 4px 5px;
}

.Post-like-area {
  padding: 6px 16px 0px;
  font-size: 14px;
}
.Post-like-area .Post-like-count::before {
  content: "💓 ";
}

.Post-text-area {
  padding: 8px 16px;
}
.Post-text-area .Post-text {
  font-size: 14px;
  display: flex;
}
.Post-text-area .Post-text .Post-writer-name {
  font-size: 15px;
}
.Post-text-area .Post-text .Post-text-postText {
  padding-left: 8px;
}

.Post-reply-count {
  font-size: 12px;
  color: gray;
  padding: 0 16px 8px;
}
.Post-reply-count::before {
  content: "댓글 ";
}
.Post-reply-count::after {
  content: "개 모두 보기";
}

.Post-reply-area {
  padding: 0px 16px 8px;
  font-size: 14px;
  flex-direction: column;
}
.Post-reply-area .Post-reply {
  padding-bottom: 2px;
}
.Post-reply-area .Post-reply .Post-reply-nickname {
  padding-right: 2px;
}
.Post-reply-area .Post-reply .Post-reply-text {
  padding-left: 2px;
}/*# sourceMappingURL=styles.css.map */